### Tuples
Tuples hold data in order

Tuples use indexes

Tuples are immutable meaning they cannot be 
modified

Tuples contain pairs of elements

Tuples are in parentheses

Tuples can contain different data types.

In [62]:
my_tuple = ("apple", "banana", "cherry")
# Print tuple items using the index number, inside square brackets:
print(my_tuple[1])
# Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second
# Print the last item of the tuple:
print(my_tuple[-1])

banana
cherry

In [63]:
# Return the third, fourth, and fifth item:
my_tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(my_tuple[2:5])

('cherry', 'orange', 'kiwi')

In [64]:
my_tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(my_tuple[-4:-1])
print(my_tuple[-4:])

('orange', 'kiwi', 'melon')
('orange', 'kiwi', 'melon', 'mango')

In [65]:
x = ("apple", "banana", "cherry")
y = list(x)
print(type(y))
y[1] = "kiwi"
x = tuple(y)
print(type(x))
print(x)

<class 'list'>
<class 'tuple'>
('apple', 'kiwi', 'cherry')

1. Write a Python program to create a tuple.

In [75]:
# Method 1: Using parentheses
my_tuple = (1, 2, 3, 4, 5)
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4, 5)

2. Write a Python program to create a tuple with different data types.

In [76]:
mixed_tuple = (1, "hello", 3.14, True, [1, 2, 3], {"name": "John"})
print("Mixed data types tuple:", mixed_tuple)

Mixed data types tuple: (1, 'hello', 3.14, True, [1, 2, 3], {'name': 'John'})

3. Write a Python program to create a tuple with numbers and print one item.

In [68]:
numbers_tuple = (10, 20, 30, 40, 50, 60)

# Print one item by index
print("First item:", numbers_tuple[0])
print("Third item:", numbers_tuple[2])
print("Last item:", numbers_tuple[-1])

# Print a specific item
print("Item at index 3:", numbers_tuple[3])

First item: 10
Third item: 30
Last item: 60
Item at index 3: 40

4. Write a Python program to unpack a tuple in several variables.

In [78]:
# Original tuple
person_info = ("John", 25, "Engineer", "New York")

# Unpacking the tuple
name, age, profession, city = person_info

print("Name:", name)
print("Age:", age)
print("Profession:", profession)
print("City:", city)

# Partial unpacking (using * operator)
first, *middle, last = (1, 2, 3, 4, 5, 6)
print("First:", first)
print("Middle:", middle)
print("Last:", last)

Name: John
Age: 25
Profession: Engineer
City: New York
First: 1
Middle: [2, 3, 4, 5]
Last: 6

5. Write a Python program to add an item in a tuple.

In [79]:
# Since tuples are immutable, we create a new tuple
original_tuple = (1, 2, 3, 4)

# Method 1: Using + operator
new_tuple = original_tuple + (5,)
print("After adding 5:", new_tuple)

After adding 5: (1, 2, 3, 4, 5)

6. Write a Python program to convert a tuple to a string.

In [81]:
# Tuple with strings
str_tuple = ("Hello", "World", "Python")
result1 = " ".join(str_tuple)
print("String from string tuple:", result1)

String from string tuple: Hello World Python

7. Write a Python program to get the 4th element and 4th element from last of a tuple.

In [82]:
sample_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

# 4th element (index 3 in 0-based indexing)
fourth_element = sample_tuple[3]
print("4th element:", fourth_element)

# 4th element from last
fourth_from_last = sample_tuple[-4]
print("4th element from last:", fourth_from_last)

4th element: d
4th element from last: g

8. Write a Python program to find the number of times an item is repeated in a tuple.

In [84]:
def count_occurrences(tup, item):
    return tup.count(item)

# Example tuple
numbers = (1, 2, 3, 2, 4, 2, 5, 2, 6, 7, 2)

# Count occurrences of 2
count_2 = count_occurrences(numbers, 2)
print(f"Number 2 appears {count_2} times in {numbers}")

# Count occurrences of other numbers
count_1 = count_occurrences(numbers, 1)

# For string tuples
fruits = ("apple", "banana", "orange", "apple", "grape", "apple")
apple_count = count_occurrences(fruits, "apple")
print(f"'apple' appears {apple_count} times in {fruits}")

Number 2 appears 5 times in (1, 2, 3, 2, 4, 2, 5, 2, 6, 7, 2)
'apple' appears 3 times in ('apple', 'banana', 'orange', 'apple', 'grape', 'apple')

9. Write a Python program to reverse a tuple.

In [87]:
# Method 1: Using slicing
original_tuple = (1, 2, 3, 4, 5, 6)
reversed_tuple1 = original_tuple[::-1]
print("Original:", original_tuple)
print("Reversed (slicing):", reversed_tuple1)

# Method 2: Using reversed() function
reversed_tuple2 = tuple(reversed(original_tuple))
print("Reversed (reversed()):", reversed_tuple2)

# With string tuple
words = ("hello", "world", "python")
reversed_words = words[::-1]
print("Words original:", words)
print("Words reversed:", reversed_words)

Original: (1, 2, 3, 4, 5, 6)
Reversed (slicing): (6, 5, 4, 3, 2, 1)
Reversed (reversed()): (6, 5, 4, 3, 2, 1)
Words original: ('hello', 'world', 'python')
Words reversed: ('python', 'world', 'hello')