1 Dates, times and datetimes in Python

1.1 Dates in Python

• Dates and times contain so much information!

• Python dates should be in the form YYYY-MM-DD, and they should be a datetime object
so that Python recognises them as dates.

• For example, 2024-02-21 is the correct format for today’s date.

• In Pandas, we use the function pd.to_datetime to convert a date into the correct format.

• There is a datetime package in Python dedicated to dealing with datetime objects. It has
lots of useful features!

In [25]:
from datetime import date

date_today = date(2024,2,21)
print(date_today)

date_today = date.today()
print(date_today)

2024-02-21
2025-10-09

In [26]:
print(type(date_today))

<class 'datetime.date'>

In [27]:
date_today

datetime.date(2025, 10, 9)

In [28]:

print("The Date: ")

print("Today", date_today.day)
print("Month",date_today.month)
print("Year",date_today.year)

The Date:
Today 9
Month 10
Year 2025

1.3 Times in datetime

Time is in the format hour, minute, seconds, 
microseconds.

(1 microsecond = 1*10^(-6) seconds)

In [29]:
from datetime import time
time1 = time(14,0,22,10)
print(time1)

14:00:22.000010

In [30]:
print(type(time1))

<class 'datetime.time'>

In [31]:
print(time1.hour)

14

In [32]:
print(time1.minute)

0

In [33]:
print(time1.second)

22

In [34]:
print(time1.microsecond)

10

1.4 Datetimes in datetime

In [35]:
from datetime import datetime
datetime1 = datetime(2024,2,21,19,30,5,10)
datetime1

datetime.datetime(2024, 2, 21, 19, 30, 5, 10)

In [36]:
print(datetime1)

2024-02-21 19:30:05.000010

In [37]:
print(type(datetime1))

<class 'datetime.datetime'>

In [38]:
print(datetime1.date())

2024-02-21

In [39]:
print(datetime1.time())

19:30:05.000010

In [41]:
print(datetime1.replace(day=11, hour=15))

2024-02-11 15:30:05.000010

1.6 Changing format of datetime objects

• strptime() creates a DateTime object from a string representing date and time.

• It takes two arguments: the date and the format in which your date is present.

• Formatting code link: https://docs.python.org/3/library/datetime.html#strftime-andstrptime-format-codes

In [42]:
date = '21 February, 2024 19:30:00'
python_date = datetime.strptime(date,'%d %B, %Y %H:%M:%S')
print(python_date)

2024-02-21 19:30:00

Use strftime() to format the date into a string representing date and time.

In [43]:
formatted_date = python_date.strftime('%d/%m/%Y %H:%M')
print(formatted_date)

21/02/2024 19:30

Can use strftime() to extract information from the datetime object and print it to the console:

In [44]:
print('Weekday :', python_date.strftime('%A'))
print('Month :', python_date.strftime('%B'))
print('Week number :', python_date.strftime('%W'))
print("Locale's date and time representation :", python_date.strftime('%c'))

Weekday : Wednesday
Month : February
Week number : 08
Locale's date and time representation : Wed Feb 21 19:30:00 2024

### Dates in pandas

In [ ]:
import pandas as pd
date_pandas = pd.to_datetime('21/02/2024', format = '%d/%m/%Y')
print(date_pandas)