# Pandas Library
## Series, DataFrames and reading in flat files
Pandas is the most popular Python library for data analysis!

It is for tabular datasets.

It is built on the Numpy package.

The convention is to import pandas using the following code: import pandas as pd
Pandas uses two core objects: DataFrame and Series .

A DataFrame is like a table, a Series is like a list.

DataFrames are really useful for data analysis.

## Creating a Pandas Series
A series is like a table with a single column.

Lets create a series with Pandas library. Don't forget to import pandas first!

In [15]:
!pip install pandas # to install pandas

791.81s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/ryanhabis/.local/lib/python3.10/site-packages (2.3.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ryanhabis/.local/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ryanhabis/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in /home/ryanhabis/.local/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [16]:
# command to import pandas

import pandas as pd # where alias is pd, which we will use in the rest of the jupyter notebook to ref

To create a series use pd.Series()

In [17]:
# create a Series
mySeries = pd.Series([1, 3, 5, 7, 9, 11, 13, 15, 17])

In [18]:
print(type(mySeries))

<class 'pandas.core.series.Series'>

In [19]:
print(mySeries)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
dtype: int64

A Series is like a single column of a DataFrame.

Series can have ‘index’ names but only one ‘name’.

Example:

In [20]:
mySeries = pd.Series( [10500, 13850, 15000, 23750],
 index = [ "2016", "2017", "2018", "2019" ],
 name = "Sales")
mySeries

2016    10500
2017    13850
2018    15000
2019    23750
Name: Sales, dtype: int64

## Pandas Series and DataFrame

We can think of a Series as a single column of a DataFrame.

We think of a DataFrame as a collection of Series glued together in columns.

Series can have ‘index’ names but only one ‘name’. This ‘name’ is the column name in the DataFrame.

DataFrames can contain different data types in the different columns.

## Creating a Pandas DataFrame

DataFrames can be created in two ways:
1. From a list of dictionaries (row by row).
2. From a dictionary of lists (column by column).

Each of these methods is outlined in the following cells.

DataFrames can be read in from files using Pandas commands. We will see some of these commands later in the
lecture.


## Creating a Pandas DataFrame from a list of dictionaries (row by row)

t_of_dicts = [

 { “colname_1”: r1c1, “colname_2”: r1c2,…, “colname_n”: r1cn },

 { “colname_1”: r2c1, “colname_2”: r2c2,…, “colname_n”: r2cn},
 
 …
 
 { “colname_1”: rmc1, “colname_2”: rmc2,…, “colname_n”: rmcn}
 ]

In [26]:
list_countries = [{"country":"Ireland", "capital":"Dublin", "Currency":"Euro"},
                  {"country":"France", "capital":"Paris", "Currency":"Euro"},
                  {"country":"Germany", "capital":"Berlin", "Currency":"Euro"},
                  {"country":"Italy", "capital":"Rome", "Currency":"Euro"},
                   {"country":"Spain", "capital":"Madrid", "Currency":"Euro"}]
print(list_countries)

[{'country': 'Ireland', 'capital': 'Dublin', 'Currency': 'Euro'}, {'country': 'France', 'capital': 'Paris', 'Currency': 'Euro'}, {'country': 'Germany', 'capital': 'Berlin', 'Currency': 'Euro'}, {'country': 'Italy', 'capital': 'Rome', 'Currency': 'Euro'}, {'country': 'Spain', 'capital': 'Madrid', 'Currency': 'Euro'}]

In [27]:
countries = pd.DataFrame(list_countries)
display(countries)

   country capital Currency
0  Ireland  Dublin     Euro
1   France   Paris     Euro
2  Germany  Berlin     Euro
3    Italy    Rome     Euro
4    Spain  Madrid     Euro

In [ ]:
sereies = pd.Series([1, 3, 5, 7, 9], index=['a', 'b', 'c', 'd', 'e']    )
print(sereies)

a    1
b    3
c    5
d    7
e    9
dtype: int64