# Pandas GroupBy Tutorial - Sales Data Analysis

This notebook demonstrates how to use Pandas `groupby` operations with a sales dataset.

**Dataset Columns:**
- Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name
- Segment, Country, City, State, Postal Code, Region, Product ID
- Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit

## 1. Import Libraries and Load Data

In [37]:
import pandas as pd
import numpy as np

# If you have your actual data file, use:
df = pd.read_csv("/home/ryanhabis/Documents/College folder/semester-1/Programming for Data Analytics/dataset/Dataset- Superstore (2015-2018).csv")




print("Dataset shape:", df.shape)
df.head()

Dataset shape: (9994, 21)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016/11/08,2016/11/11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016/11/08,2016/11/11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016/06/12,2016/06/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015/10/11,2015/10/18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015/10/11,2015/10/18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

## 2. Basic GroupBy Operations

In [38]:
# Total Sales by Region
print("Total Sales by Region:")
sales_by_region = df.groupby('Region')['Sales'].sum()
print(sales_by_region)
print("\n" + "="*50)

Total Sales by Region:
Region
Central    501239.8908
East       678781.2400
South      391721.9050
West       725457.8245
Name: Sales, dtype: float64

==================================================

In [39]:
# Average Profit by Category
print("Average Profit by Category:")
profit_by_category = df.groupby('Category')['Profit'].mean()
print(profit_by_category)
print("\n" + "="*50)

Average Profit by Category:
Category
Furnitue            2.464000
Furniture           8.702268
Office Supplies    20.327050
Technology         78.752002
Name: Profit, dtype: float64

==================================================

In [40]:
# Number of Orders by Ship Mode
print("Number of Orders by Ship Mode:")
orders_by_shipmode = df.groupby('Ship Mode')['Order ID'].count()
print(orders_by_shipmode)
print("\n" + "="*50)

Number of Orders by Ship Mode:
Ship Mode
First Class       1538
Same Day           543
Second Class      1945
Standard Class    5968
Name: Order ID, dtype: int64

==================================================

## 3. Multiple Column Grouping (Hierarchical)

In [41]:
# Total Sales by Region and Category
print("Total Sales by Region and Category:")
sales_by_region_category = df.groupby(['Region', 'Category'])['Sales'].sum()
print(sales_by_region_category.head(10))
print("\n" + "="*50)

Total Sales by Region and Category:
Region   Category
Central  Furniture          163797.1638
         Office Supplies    167026.4150
         Technology         170416.3120
East     Furnitue               17.9200
         Furniture          208273.2840
         Office Supplies    205516.0550
         Technology         264973.9810
South    Furniture          117298.6840
         Office Supplies    125651.3130
         Technology         148771.9080
Name: Sales, dtype: float64

==================================================

In [42]:
# Average Discount by Segment and Category
print("Average Discount by Segment and Category:")
discount_by_segment_category = df.groupby(['Segment', 'Category'])['Discount'].mean()
print(discount_by_segment_category)
print("\n" + "="*50)

Average Discount by Segment and Category:
Segment      Category
Consumer     Furnitue           0.200000
             Furniture          0.176718
             Office Supplies    0.158746
             Technology         0.134385
Corporate    Furniture          0.174071
             Office Supplies    0.160604
             Technology         0.131949
Home Office  Furniture          0.165000
             Office Supplies    0.147451
             Technology         0.127193
Name: Discount, dtype: float64

==================================================

## 4. Using agg() for Multiple Aggregations

In [43]:
# Multiple statistics for Sales and Profit by Region
print("Sales and Profit Statistics by Region:")
region_stats = df.groupby('Region')[['Sales', 'Profit']].agg(['sum', 'mean', 'max', 'min', 'count'])
print(region_stats)
print("\n" + "="*50)

Sales and Profit Statistics by Region:
               Sales                                           Profit  \
                 sum        mean        max    min count          sum
Region
Central  501239.8908  215.772661  17499.950  0.444  2323   39706.3625
East     678781.2400  238.336110  11199.968  0.852  2848   91522.7800
South    391721.9050  241.803645  22638.480  1.167  1620   46749.4303
West     725457.8245  226.493233  13999.960  0.990  3203  108418.4489


              mean        max        min count
Region
Central  17.092709  8399.9760 -3701.8928  2323
East     32.135808  5039.9856 -6599.9780  2848
South    28.857673  3177.4750 -3839.9904  1620
West     33.849032  6719.9808 -3399.9800  3203

==================================================

In [44]:
# Custom aggregations per Category
print("Custom Aggregations by Category:")
category_agg = df.groupby('Category')['Sales'].agg([
    'sum',
    'mean',
    'std',
    'count',
    ('range', lambda x: x.max() - x.min())
])
print(category_agg)
print("\n" + "="*50)

Custom Aggregations by Category:
                         sum        mean          std  count      range
Category
Furnitue             17.9200   17.920000          NaN      1      0.000
Furniture        741981.8753  349.991451   503.246184   2120   4414.282
Office Supplies  719047.0320  119.324101   382.182228   6026   9892.296
Technology       836154.0330  452.709276  1108.655848   1847  22637.490

==================================================

## 5. Using apply() for Custom Functions

In [45]:
# First Sale Amount per Region and Category
print("First Sale Amount per Region and Category:")
first_sales = df.groupby(['Region', 'Category']).apply(lambda group: group['Sales'].iloc[0])
print(first_sales.head(10))
print("\n" + "="*50)

First Sale Amount per Region and Category:
Region   Category
Central  Furniture           190.920
         Office Supplies      68.810
         Technology         1097.544
East     Furnitue             17.920
         Furniture            71.372
         Office Supplies       9.618
         Technology           45.000
South    Furniture           261.960
         Office Supplies      22.368
         Technology           74.112
dtype: float64

==================================================

/tmp/ipykernel_19258/3073417453.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  first_sales = df.groupby(['Region', 'Category']).apply(lambda group: group['Sales'].iloc[0])

In [46]:
# Most Profitable Product in Each Category
print("Most Profitable Product in Each Category:")
top_products = df.groupby('Category').apply(
    lambda group: group.loc[group['Profit'].idxmax(), ['Product Name', 'Profit']]
)
print(top_products)
print("\n" + "="*50)

Most Profitable Product in Each Category:
                                                      Product Name    Profit
Category
Furnitue                 Stacking Tray, Side-Loading, Legal, Smoke     2.464
Furniture        Riverside Palais Royal Lawyers Bookcase, Royal...  1013.127
Office Supplies   GBC Ibimaster 500 Manual ProClick Binding System  4946.370
Technology                   Canon imageCLASS 2200 Advanced Copier  8399.976

==================================================

/tmp/ipykernel_19258/2423007385.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_products = df.groupby('Category').apply(

## 6. Advanced GroupBy Examples

In [47]:
# Total Sales and Profit per Customer Segment
print("Total Sales and Profit per Segment:")
segment_performance = df.groupby('Segment')[['Sales', 'Profit']].sum()
print(segment_performance)
print("\n" + "="*50)

Total Sales and Profit per Segment:
                    Sales       Profit
Segment
Consumer     1.161401e+06  134119.2092
Corporate    7.061464e+05   91979.1340
Home Office  4.296531e+05   60298.6785

==================================================

In [48]:
# Average Quantity and Discount per Product Category
print("Average Quantity and Discount per Category:")
category_metrics = df.groupby('Category')[['Quantity', 'Discount']].mean()
print(category_metrics)
print("\n" + "="*50)

Average Quantity and Discount per Category:
                 Quantity  Discount
Category
Furnitue         5.000000  0.200000
Furniture        3.784434  0.173910
Office Supplies  3.801195  0.157285
Technology       3.756903  0.132323

==================================================

In [49]:
# Number of Unique Customers per Region
print("Number of Unique Customers per Region:")
unique_customers = df.groupby('Region')['Customer ID'].nunique()
print(unique_customers)
print("\n" + "="*50)

Number of Unique Customers per Region:
Region
Central    629
East       674
South      512
West       686
Name: Customer ID, dtype: int64

==================================================

In [50]:
# Top 5 States by Total Sales
print("Top 5 States by Total Sales:")
# Since we don't have State in sample data, let's create it
df['State'] = np.random.choice(['NY', 'CA', 'TX', 'FL', 'IL', 'PA', 'OH', 'GA'], len(df))
top_states = df.groupby('State')[['Sales', 'Profit']].sum().nlargest(5, 'Sales')
print(top_states)
print("\n" + "="*50)

Top 5 States by Total Sales:
             Sales      Profit
State
FL     339805.8182  39745.9357
CA     311575.3805  45314.7122
OH     299205.1950  37249.7001
NY     293315.7859  40310.7997
GA     281320.5798  35888.6578

==================================================

## 7. Creating New Columns with GroupBy

In [51]:
# Add column showing sales as percentage of total category sales
df['Sales_Pct_Of_Category'] = df.groupby('Category')['Sales'].transform(
    lambda x: (x / x.sum() * 100).round(2)
)

print("Sales Percentage of Category:")
print(df[['Category', 'Sales', 'Sales_Pct_Of_Category']].head(10))
print("\n" + "="*50)

Sales Percentage of Category:
          Category     Sales  Sales_Pct_Of_Category
0        Furniture  261.9600                   0.04
1        Furniture  731.9400                   0.10
2  Office Supplies   14.6200                   0.00
3        Furniture  957.5775                   0.13
4  Office Supplies   22.3680                   0.00
5        Furniture   48.8600                   0.01
6  Office Supplies    7.2800                   0.00
7       Technology  907.1520                   0.11
8  Office Supplies   18.5040                   0.00
9  Office Supplies  114.9000                   0.02

==================================================

In [52]:
# Add column showing average profit by segment
df['Avg_Profit_By_Segment'] = df.groupby('Segment')['Profit'].transform('mean').round(2)

print("Average Profit by Segment (added as new column):")
print(df[['Segment', 'Profit', 'Avg_Profit_By_Segment']].head(10))
print("\n" + "="*50)

Average Profit by Segment (added as new column):
     Segment    Profit  Avg_Profit_By_Segment
0   Consumer   41.9136                  25.84
1   Consumer  219.5820                  25.84
2  Corporate    6.8714                  30.46
3   Consumer -383.0310                  25.84
4   Consumer    2.5164                  25.84
5   Consumer   14.1694                  25.84
6   Consumer    1.9656                  25.84
7   Consumer   90.7152                  25.84
8   Consumer    5.7825                  25.84
9   Consumer   34.4700                  25.84

==================================================

## 8. Data Summary and Insights

In [53]:
# Comprehensive summary by multiple categories
print("Comprehensive Summary by Region and Category:")
comprehensive_summary = df.groupby(['Region', 'Category']).agg({
    'Sales': ['sum', 'mean', 'count'],
    'Profit': ['sum', 'mean'],
    'Quantity': 'mean',
    'Discount': 'mean'
}).round(2)

print(comprehensive_summary)
print("\n" + "="*50)

Comprehensive Summary by Region and Category:
                             Sales                  Profit        Quantity  \
                               sum    mean count       sum   mean     mean
Region  Category
Central Furniture        163797.16  340.53   481  -2871.05  -5.97     3.80
        Office Supplies  167026.42  117.46  1422   8879.98   6.24     3.80
        Technology       170416.31  405.75   420  33697.43  80.23     3.68
East    Furnitue             17.92   17.92     1      2.46   2.46     5.00
        Furniture        208273.28  347.12   600   3043.70   5.07     3.68
        Office Supplies  205516.06  120.04  1712  41014.58  23.96     3.77
        Technology       264973.98  495.28   535  47462.04  88.71     3.63
South   Furniture        117298.68  353.31   332   6771.21  20.40     3.89
        Office Supplies  125651.31  126.28   995  19986.39  20.09     3.82
        Technology       148771.91  507.75   293  19991.83  68.23     3.82
West    Furniture        252612.74  357.30   707  11504.95  16.27     3.81
        Office Supplies  220853.25  116.42  1897  52609.85  27.73     3.81
        Technology       251991.83  420.69   599  44303.65  73.96     3.90

                        Discount
                            mean
Region  Category
Central Furniture           0.30
        Office Supplies     0.25
        Technology          0.13
East    Furnitue            0.20
        Furniture           0.15
        Office Supplies     0.14
        Technology          0.14
South   Furniture           0.12
        Office Supplies     0.17
        Technology          0.11
West    Furniture           0.13
        Office Supplies     0.09
        Technology          0.13

==================================================

## 9. Practice Exercises

In [54]:
# Exercise 1: Find the most profitable sub-category in each region
print("Exercise 1: Most Profitable Sub-Category by Region")
# Your code here

# Exercise 2: Calculate the total number of products sold by each ship mode
print("\nExercise 2: Total Quantity by Ship Mode")
# Your code here

# Exercise 3: Find the customer segment with the highest average discount
print("\nExercise 3: Segment with Highest Average Discount")
# Your code here

# Exercise 4: Create a new column showing profit margin (Profit/Sales) by category
print("\nExercise 4: Add Profit Margin Column")
# Your code here

Exercise 1: Most Profitable Sub-Category by Region

Exercise 2: Total Quantity by Ship Mode

Exercise 3: Segment with Highest Average Discount

Exercise 4: Add Profit Margin Column

## Summary

This notebook covered:
- Basic single-column grouping
- Hierarchical grouping with multiple columns
- Using `agg()` for multiple aggregations
- Custom functions with `apply()`
- Creating new columns with `transform()`
- Practical business analysis examples

**Key Takeaways:**
- `groupby()` splits data into groups based on column values
- Aggregation functions summarize each group
- `agg()` allows multiple operations simultaneously
- `apply()` enables custom operations on groups
- `transform()` creates new columns based on group calculations