In [311]:
# Import needed libraries
import numpy as np
import pandas as pd
import os

In [312]:
# Read the CSV file directly using pandas
df = pd.read_csv("/home/ryanhabis/Documents/College folder/semester-1/Programming for Data Analytics/dataset/Dataset- Superstore (2015-2018).csv")

In [313]:
# open the csv file using read_csv, no need to use delimitator (parameter 'sep'in read_csv)
# pl = pd.read_csv("pl_2seasons.csv")
# display(pl.iloc[:10]) # show the first ten rows, also you can use pl.head(10)

In [314]:
df.head()  # Display the first few rows of the dataframe

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016/11/08,2016/11/11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016/11/08,2016/11/11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016/06/12,2016/06/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015/10/11,2015/10/18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015/10/11,2015/10/18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [315]:
# City -> category -> sales.mean()
city_category_sales = df.groupby(['City', 'Category'])['Sales'].mean()

In [316]:
city_category_sales.head()  # Display the first few results

City      Category
Aberdeen  Office Supplies     25.500000
Abilene   Office Supplies      1.392000
Akron     Furniture          216.798000
          Office Supplies     79.527714
          Technology         236.600400
Name: Sales, dtype: float64

In [317]:
# group data by year in each city and tell which city has maximum sales by year (added sum mean to the question)

group_Data_By_Year = df.groupby(['Ship Date', 'City'])['Sales'].agg(['sum', 'mean', 'max'])
group_Data_By_Year.head()

                             sum        mean       max
Ship Date  City
2014/01/07 Athens         12.780   12.780000    12.780
           Houston        16.448   16.448000    16.448
2014/01/08 Los Angeles    19.440   19.440000    19.440
           Naperville    288.060   96.020000   272.736
2014/01/10 Henderson    4374.880  624.982857  2573.820

In [318]:
# display(df.groupby(['Season','HomeTeam'])[['FTHG','FTAG']].agg(['sum','max','count','mean']))

#I want to make this code work for this dataset

display(df.groupby(['Order ID','Customer Name'])[['Sales']].agg(['sum','max','count','mean']))

                                     Sales
                                       sum      max count        mean
Order ID       Customer Name
CA-2014-100006 Dennis Kane         377.970  377.970     1  377.970000
CA-2014-100090 Ed Braxton          699.192  502.488     2  349.596000
CA-2014-100293 Neil Französisch     91.056   91.056     1   91.056000
CA-2014-100328 Jasper Cacioppo       3.928    3.928     1    3.928000
CA-2014-100363 Jim Mitchum          21.376   19.008     2   10.688000
...                                    ...      ...   ...         ...
US-2017-168802 Jack O'Briant        18.368   18.368     1   18.368000
US-2017-169320 Lena Hernandez      171.430  159.750     2   85.715000
US-2017-169488 Allen Armold         56.860   39.960     2   28.430000
US-2017-169502 Matthew Grinstein   113.410   91.600     2   56.705000
US-2017-169551 Rob Lucas          1344.838  683.988     6  224.139667

[5009 rows x 4 columns]

In [319]:
#df = pd.DataFrame({"data1": [12, 34, 23, 45],
#                  "data2": [23, 43, 56, 23]},

#                  index=["a", "b", "c", "d"])

#df

In [320]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [321]:
#df.set_index(['State','City'], inplace = True)

group_by_State_City = df.set_index(['State','City'])

In [ ]:

display(group_by_State_City)

                            Row ID        Order ID  Order Date   Ship Date  \
State      City
Kentucky   Henderson             1  CA-2016-152156  2016/11/08  2016/11/11
           Henderson             2  CA-2016-152156  2016/11/08  2016/11/11
California Los Angeles           3  CA-2016-138688  2016/06/12  2016/06/16
Florida    Fort Lauderdale       4  US-2015-108966  2015/10/11  2015/10/18
           Fort Lauderdale       5  US-2015-108966  2015/10/11  2015/10/18
...                            ...             ...         ...         ...
           Miami              9990  CA-2014-110422  2014/01/21  2014/01/23
California Costa Mesa         9991  CA-2017-121258  2017/02/26  2017/03/03
           Costa Mesa         9992  CA-2017-121258  2017/02/26  2017/03/03
           Costa Mesa         9993  CA-2017-121258  2017/02/26  2017/03/03
           Westminster        9994  CA-2017-119914  2017/05/04  2017/05/09

                                 Ship Mode Customer ID     Customer Name  \
State      City
Kentucky   Henderson          Second Class    CG-12520       Claire Gute
           Henderson          Second Class    CG-12520       Claire Gute
California Los Angeles        Second Class    DV-13045   Darrin Van Huff
Florida    Fort Lauderdale  Standard Class    SO-20335    Sean O'Donnell
           Fort Lauderdale  Standard Class    SO-20335    Sean O'Donnell
...                                    ...         ...               ...
           Miami              Second Class    TB-21400  Tom Boeckenhauer
California Costa Mesa       Standard Class    DB-13060       Dave Brooks
           Costa Mesa       Standard Class    DB-13060       Dave Brooks
           Costa Mesa       Standard Class    DB-13060       Dave Brooks
           Westminster        Second Class    CC-12220      Chris Cortes

                              Segment        Country  Postal Code Region  \
State      City
Kentucky   Henderson         Consumer  United States        42420  South
           Henderson         Consumer  United States        42420  South
California Los Angeles      Corporate  United States        90036   West
Florida    Fort Lauderdale   Consumer  United States        33311  South
           Fort Lauderdale   Consumer  United States        33311  South
...                               ...            ...          ...    ...
           Miami             Consumer  United States        33180  South
California Costa Mesa        Consumer  United States        92627   West
           Costa Mesa        Consumer  United States        92627   West
           Costa Mesa        Consumer  United States        92627   West
           Westminster       Consumer  United States        92683   West

                                 Product ID         Category Sub-Category  \
State      City
Kentucky   Henderson        FUR-BO-10001798        Furniture    Bookcases
           Henderson        FUR-CH-10000454        Furniture       Chairs
California Los Angeles      OFF-LA-10000240  Office Supplies       Labels
Florida    Fort Lauderdale  FUR-TA-10000577        Furniture       Tables
           Fort Lauderdale  OFF-ST-10000760  Office Supplies      Storage
...                                     ...              ...          ...
           Miami            FUR-FU-10001889        Furniture  Furnishings
California Costa Mesa       FUR-FU-10000747        Furniture  Furnishings
           Costa Mesa       TEC-PH-10003645       Technology       Phones
           Costa Mesa       OFF-PA-10004041  Office Supplies        Paper
           Westminster      OFF-AP-10002684  Office Supplies   Appliances

                                                                 Product Name  \
State      City
Kentucky   Henderson                        Bush Somerset Collection Bookcase
           Henderson        Hon Deluxe Fabric Upholstered Stacking Chairs,...
California Los Angeles      Self-Adhesive Address Labels for Typewriters b...
Florida    Fort Lauderdale      Bretford CR4500 Series Slim Rectangular Table
           Fort Lauderdale                     Eldon Fold 'N Roll Cart System
...                                                                       ...
           Miami                                       Ultra Door Pull Handle
California Costa Mesa       Tenex B1-RE Series Chair Mats for Low Pile Car...
           Costa Mesa                                   Aastra 57i VoIP phone
           Costa Mesa       It's Hot Message Books with Stickers, 2 3/4" x 5"
           Westminster      Acco 7-Outlet Masterpiece Power Center, Wihtou...

                               Sales  Quantity  Discount    Profit
State      City
Kentucky   Henderson        261.9600         2      0.00   41.9136
           Henderson        731.9400         3      0.00  219.5820
California Los Angeles       14.6200         2      0.00    6.8714
Florida    Fort Lauderdale  957.5775         5      0.45 -383.0310
           Fort Lauderdale   22.3680         2      0.20    2.5164
...                              ...       ...       ...       ...
           Miami             25.2480         3      0.20    4.1028
California Costa Mesa        91.9600         2      0.00   15.6332
           Costa Mesa       258.5760         2      0.20   19.3932
           Costa Mesa        29.6000         4      0.00   13.3200
           Westminster      243.1600         2      0.00   72.9480

[9994 rows x 19 columns]

In [ ]:
data['Ship Date'] = pd.to_datetime(date['Ship Date'])

NameError: name 'date' is not defined

In [ ]:
data['Year'] = pd.to_datetime(date['Ship Date'])